<a href="https://colab.research.google.com/github/harunsuryaa/manipulasi-string/blob/main/Tugas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#desain class
class Catatan:
  def __init__(self, nama, nomor_absen, catatan):
    self.nama = nama
    self.nomor_absen = nomor_absen
    self.catatan = catatan

  def gabung(self):
    nama = str(self.nama)
    absen = str(self.nomor_absen)
    catatan = str(self.catatan)

    gabungan = (nama +' '+ absen +' '+ catatan)
    return gabungan

  def tampil(self):
    print(self.gabung())

  def cari(self):
    print('SMKN9MALANG' in self.gabung())

  def duplikasi(self):
    print(self.gabung() * 3)

  def jumlah(self):
    print(len(self.gabung()))

  def kataawal(self):
    awal = 'Siswa'

    print(self.gabung().startswith(awal))

In [ ]:
#main program
siswa1 = Catatan("Siswa Rexza",27,"saya sekolah di SMKN9MALANG")
siswa2 = Catatan("Harun",18,"saya sekolah di SMK9MALANG")

siswa1.gabung()
siswa1.tampil()
siswa1.cari()
siswa1.duplikasi()
siswa1.jumlah()
siswa1.kataawal()
print('')
siswa2.gabung()
siswa2.tampil()
siswa2.cari()
siswa2.duplikasi()
siswa2.jumlah()
siswa2.kataawal()